.sidebar .widget-category .widget-content>ul>li>a:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-size: 8px;
    left: 71.5%;
    position: absolute;

}

.catalog-page .col-md-3 {
    float: right;
    padding-left: 20px;
}

.catalog-page .col-md-9 {
    width: 75%;
    float: left;
}